{%- unless template.suffix contains 'quick-buy' -%}
  <section>
    <style>
      #shopify-section-{{ section.id }} {
        --product-grid: auto / minmax(0, 1fr);
      }

      @media screen and (min-width: 1000px) {
        #shopify-section-{{ section.id }} {
          {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
          --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
        }
      }
    </style>

    <div class="container">
      <div class="product {% if section.settings.desktop_media_layout == 'carousel_thumbnails_left' %}product--thumbnails-left{% endif %}">
        {%- render 'product-media', product: product -%}

        {%- if section.settings.desktop_media_layout contains 'grid' -%}
          {%- render 'product-gallery', product: product -%}
        {%- endif -%}

        <div class="product__info">
          {%- render 'product-form', product: product, update_url: true -%}
        </div>
      </div>
    </div>
  </section>
{%- else -%}
  {%- comment -%}
    The quick shop HTML being very different, we render it here. On mobile and tablet/desktop, the product renders also quite differently, as it is in a drawer on tablet/desktop, and a popover on mobile.
  {%- endcomment -%}

  {%- capture quick_buy_product_info -%}
    <div class="quick-buy-product">
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

      {%- if template.suffix == 'quick-buy-drawer' -%}
        {{- featured_media | image_url: width: featured_media.width | image_tag: loading: 'lazy', sizes: '114px', widths: '114,228,342', class: 'quick-buy-product__image' -}}
      {%- else -%}
        {{- featured_media | image_url: width: featured_media.width | image_tag: loading: 'lazy', sizes: '65px', widths: '65,130,195', class: 'quick-buy-product__image' -}}
      {%- endif -%}

      <div class="quick-buy-product__info {% if template.suffix == 'quick-buy-popover' %}text--small{% endif %}">
        <product-meta form-id="product-form-{{ section.id }}-{{ product.id }}" unit-price-class="text--xsmall" class="product-item-meta">
          {%- assign vendor_block = section.blocks | where: 'type', 'vendor' -%}

          {%- if vendor_block != blank -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
              <a href="{{ collection_for_vendor.url }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- else -%}
              <a href="{{ product.vendor | url_for_vendor }}" class="product-item-meta__vendor heading {% if template.suffix == 'quick-buy-drawer' %}heading--small{% else %}heading--xsmall{% endif %}">{{ product.vendor }}</a>
            {%- endunless -%}
          {%- endif -%}

          <a href="{{ product.url }}" class="product-item-meta__title">{{ product.title }}</a>

          <div class="product-item-meta__price-list-container" role="region" aria-live="polite">
            <div class="price-list" data-product-price-list>
              {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.price | money -}}
                  {%- endif -%}
                </span>

                <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money -}}
                  {%- endif -%}
                </span>
              {%- else -%}
                <span class="price">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.price | money -}}
                  {%- endif -%}
                </span>
              {%- endif -%}

              {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                <div class="price text--subdued text--xsmall">
                  <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/</span>

                    {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                      <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
                    {%- endif -%}

                    <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
                  </div>
                </div>
              {%- endif -%}
            </div>

            {%- if template.suffix == 'quick-buy-popover' -%}
              <a href="{{ product.url }}" class="link text--subdued">{{ 'product.general.view_details' | t }}</a>
            {%- endif -%}
          </div>
        </product-meta>
      </div>
    </div>
  {%- endcapture -%}

  {%- if template.suffix == 'quick-buy-drawer' -%}
    <quick-buy-drawer class="drawer drawer--large drawer--quick-buy">
      <cart-notification hidden class="cart-notification cart-notification--drawer"></cart-notification>

      <span class="drawer__overlay"></span>

      <header class="drawer__header">
        <p class="drawer__title heading h6">{{ 'product.form.choose_options' | t }}</p>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content">
        {{- quick_buy_product_info -}}
        {%- render 'product-form', product: product, color_mode: settings.product_color_display -%}
      </div>
    </quick-buy-drawer>
  {%- elsif template.suffix == 'quick-buy-popover' -%}
    <quick-buy-popover class="popover popover--quick-buy">
      <span class="popover__overlay"></span>

      <header class="popover__header">
        {{- quick_buy_product_info -}}

        <button
          type="button"
          class="popover__close-button tap-area tap-area--large"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content popover__content--no-padding">
        {%- render 'product-form', product: product, color_mode: settings.product_color_display -%}
      </div>
    </quick-buy-popover>
  {%- endif -%}
{%- endunless -%}

{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--main-product",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "associated_products",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, use the Shopify Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations#complementary-products)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Complete the look:"
        },
        {
          "type": "checkbox",
          "id": "stack_products",
          "label": "Stack products",
          "default": true
        },
        {
          "type": "range",
          "id": "products_count",
          "min": 1,
          "max": 10,
          "label": "Products count",
          "default": 5
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch button",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Only the payment methods that you've activated in your [payment settings](/admin/settings/payments) display as options to your customers."
        },
        {
          "type": "paragraph",
          "content": "If you don't have a third-party accelerated checkout method activated, then only the unbranded button is displayed. [Learn more](https://help.shopify.com/en/manual/online-store/dynamic-checkout)"
        },
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/en/manual/online-store/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "Show recipient information form for gift card products",
          "info": "Gift card products can optionally be sent directly to a recipient along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)",
          "default": false
        },
        {
          "type": "header",
          "content": "Add to cart"
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "Buy now"
        },
        {
          "type": "color",
          "id": "buy_now_button_background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "buy_now_button_text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "collapsible_text",
      "name": "Collapsible text",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "article",
              "label": "Article"
            },
            {
              "value": "balloon",
              "label": "Balloon"
            },
            {
              "value": "bell",
              "label": "Bell"
            },
            {
              "value": "bookmark",
              "label": "Bookmark"
            },
            {
              "value": "calendar-blank",
              "label": "Calendar"
            },
            {
              "value": "chat-centered",
              "label": "Chat"
            },
            {
              "value": "chat-circle",
              "label": "Chat circle"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "device-mobile",
              "label": "Device mobile"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "envelope-simple",
              "label": "Envelope simple"
            },
            {
              "value": "face-mask",
              "label": "Face mask"
            },
            {
              "value": "fingerprint",
              "label": "Fingerprint"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headset",
              "label": "Headset"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "squares-four",
              "label": "Squares four"
            },
            {
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            },
            {
              "value": "ticket",
              "label": "Ticket"
            },
            {
              "value": "timer",
              "label": "Timer"
            },
            {
              "value": "translate",
              "label": "Translate"
            },
            {
              "value": "trash",
              "label": "Trash"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "users",
              "label": "Users"
            },
            {
              "value": "van",
              "label": "Van"
            },
            {
              "value": "virus",
              "label": "Virus"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "warning",
              "label": "Warning"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "48 x 48px .png recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "contact_form",
      "name": "Contact form",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "article",
              "label": "Article"
            },
            {
              "value": "balloon",
              "label": "Balloon"
            },
            {
              "value": "bell",
              "label": "Bell"
            },
            {
              "value": "bookmark",
              "label": "Bookmark"
            },
            {
              "value": "calendar-blank",
              "label": "Calendar"
            },
            {
              "value": "chat-centered",
              "label": "Chat"
            },
            {
              "value": "chat-circle",
              "label": "Chat circle"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "device-mobile",
              "label": "Device mobile"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "envelope-simple",
              "label": "Envelope simple"
            },
            {
              "value": "face-mask",
              "label": "Face mask"
            },
            {
              "value": "fingerprint",
              "label": "Fingerprint"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headset",
              "label": "Headset"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "squares-four",
              "label": "Squares four"
            },
            {
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            },
            {
              "value": "ticket",
              "label": "Ticket"
            },
            {
              "value": "timer",
              "label": "Timer"
            },
            {
              "value": "translate",
              "label": "Translate"
            },
            {
              "value": "trash",
              "label": "Trash"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "users",
              "label": "Users"
            },
            {
              "value": "van",
              "label": "Van"
            },
            {
              "value": "virus",
              "label": "Virus"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "warning",
              "label": "Warning"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "48 x 48px .png recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Ask a question"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "A product description explains what a product is and why it’s worth purchasing. [Learn more](https://help.shopify.com/en/manual/products/details/product-descriptions/write)"
        },
        {
          "type": "checkbox",
          "id": "collapse_content",
          "label": "Collapse content",
          "default": false
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "article",
              "label": "Article"
            },
            {
              "value": "balloon",
              "label": "Balloon"
            },
            {
              "value": "bell",
              "label": "Bell"
            },
            {
              "value": "bookmark",
              "label": "Bookmark"
            },
            {
              "value": "calendar-blank",
              "label": "Calendar"
            },
            {
              "value": "chat-centered",
              "label": "Chat"
            },
            {
              "value": "chat-circle",
              "label": "Chat circle"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "device-mobile",
              "label": "Device mobile"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "envelope-simple",
              "label": "Envelope simple"
            },
            {
              "value": "face-mask",
              "label": "Face mask"
            },
            {
              "value": "fingerprint",
              "label": "Fingerprint"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headset",
              "label": "Headset"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "squares-four",
              "label": "Squares four"
            },
            {
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            },
            {
              "value": "ticket",
              "label": "Ticket"
            },
            {
              "value": "timer",
              "label": "Timer"
            },
            {
              "value": "translate",
              "label": "Translate"
            },
            {
              "value": "trash",
              "label": "Trash"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "users",
              "label": "Users"
            },
            {
              "value": "van",
              "label": "Van"
            },
            {
              "value": "virus",
              "label": "Virus"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "warning",
              "label": "Warning"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "48 x 48px .png recommended"
        }
      ]
    },
    {
      "type": "feature_with_icon",
      "name": "Feature with icon",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "default": "Free shipping"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "article",
              "label": "Article"
            },
            {
              "value": "balloon",
              "label": "Balloon"
            },
            {
              "value": "bell",
              "label": "Bell"
            },
            {
              "value": "bookmark",
              "label": "Bookmark"
            },
            {
              "value": "calendar-blank",
              "label": "Calendar"
            },
            {
              "value": "chat-centered",
              "label": "Chat"
            },
            {
              "value": "chat-circle",
              "label": "Chat circle"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "device-mobile",
              "label": "Device mobile"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "envelope-simple",
              "label": "Envelope simple"
            },
            {
              "value": "face-mask",
              "label": "Face mask"
            },
            {
              "value": "fingerprint",
              "label": "Fingerprint"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headset",
              "label": "Headset"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "squares-four",
              "label": "Squares four"
            },
            {
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            },
            {
              "value": "ticket",
              "label": "Ticket"
            },
            {
              "value": "timer",
              "label": "Timer"
            },
            {
              "value": "translate",
              "label": "Translate"
            },
            {
              "value": "trash",
              "label": "Trash"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "users",
              "label": "Users"
            },
            {
              "value": "van",
              "label": "Van"
            },
            {
              "value": "virus",
              "label": "Virus"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "warning",
              "label": "Warning"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "48 x 48px .png recommended"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "help_page",
      "name": "Help page",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "help_page",
          "label": "Help page",
          "info": "Feature a page to help your customers."
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "range",
          "id": "width",
          "min": 50,
          "max": 600,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "label": "Alignment",
          "default": "left"
        },
        {
          "type": "header",
          "content": "Collapse content"
        },
        {
          "type": "checkbox",
          "id": "collapse_content",
          "label": "Enable",
          "default": false
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "article",
              "label": "Article"
            },
            {
              "value": "balloon",
              "label": "Balloon"
            },
            {
              "value": "bell",
              "label": "Bell"
            },
            {
              "value": "bookmark",
              "label": "Bookmark"
            },
            {
              "value": "calendar-blank",
              "label": "Calendar"
            },
            {
              "value": "chat-centered",
              "label": "Chat"
            },
            {
              "value": "chat-circle",
              "label": "Chat circle"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "device-mobile",
              "label": "Device mobile"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "envelope-simple",
              "label": "Envelope simple"
            },
            {
              "value": "face-mask",
              "label": "Face mask"
            },
            {
              "value": "fingerprint",
              "label": "Fingerprint"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headset",
              "label": "Headset"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "squares-four",
              "label": "Squares four"
            },
            {
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            },
            {
              "value": "ticket",
              "label": "Ticket"
            },
            {
              "value": "timer",
              "label": "Timer"
            },
            {
              "value": "translate",
              "label": "Translate"
            },
            {
              "value": "trash",
              "label": "Trash"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "users",
              "label": "Users"
            },
            {
              "value": "van",
              "label": "Van"
            },
            {
              "value": "virus",
              "label": "Virus"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "warning",
              "label": "Warning"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "48 x 48px .png recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Image"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "For this message to show, you need to [enable inventory tracking](https://help.shopify.com/en/manual/products/inventory/transfers/enable-tracking) for the product."
        },
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "checkbox",
          "id": "always_show",
          "label": "Always show",
          "default": false
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "text"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "header",
          "content": "Checkbox",
          "info": "Only applicable for line item property of type Checkbox."
        },
        {
          "type": "text",
          "id": "checked_value",
          "label": "Checked value",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "unchecked_value",
          "label": "Unchecked value",
          "default": "No"
        },
        {
          "type": "header",
          "content": "Image",
          "info": "Only applicable for line item property of type Image. Only one available at a time."
        },
        {
          "type": "text",
          "id": "drop_label",
          "label": "Drop area label",
          "default": "Browse & select your image"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "offer",
      "name": "Offer",
      "settings": [
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full width",
          "default": false
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon position",
          "options": [
            {
              "value": "aligned",
              "label": "Aligned horizontally"
            },
            {
              "value": "stacked",
              "label": "Stacked"
            }
          ],
          "default": "aligned"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "article",
              "label": "Article"
            },
            {
              "value": "balloon",
              "label": "Balloon"
            },
            {
              "value": "bell",
              "label": "Bell"
            },
            {
              "value": "bookmark",
              "label": "Bookmark"
            },
            {
              "value": "calendar-blank",
              "label": "Calendar"
            },
            {
              "value": "chat-centered",
              "label": "Chat"
            },
            {
              "value": "chat-circle",
              "label": "Chat circle"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "device-mobile",
              "label": "Device mobile"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "envelope-simple",
              "label": "Envelope simple"
            },
            {
              "value": "face-mask",
              "label": "Face mask"
            },
            {
              "value": "fingerprint",
              "label": "Fingerprint"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headset",
              "label": "Headset"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "squares-four",
              "label": "Squares four"
            },
            {
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            },
            {
              "value": "ticket",
              "label": "Ticket"
            },
            {
              "value": "timer",
              "label": "Timer"
            },
            {
              "value": "translate",
              "label": "Translate"
            },
            {
              "value": "trash",
              "label": "Trash"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "users",
              "label": "Users"
            },
            {
              "value": "van",
              "label": "Van"
            },
            {
              "value": "virus",
              "label": "Virus"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "warning",
              "label": "Warning"
            }
          ],
          "default": "warning"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "24 x 24px .png recommended"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Shipping"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your shipping rates or discounts.</p>"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "page_content",
      "name": "Page content",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        },
        {
          "type": "checkbox",
          "id": "collapse_content",
          "label": "Collapse content",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "article",
              "label": "Article"
            },
            {
              "value": "balloon",
              "label": "Balloon"
            },
            {
              "value": "bell",
              "label": "Bell"
            },
            {
              "value": "bookmark",
              "label": "Bookmark"
            },
            {
              "value": "calendar-blank",
              "label": "Calendar"
            },
            {
              "value": "chat-centered",
              "label": "Chat"
            },
            {
              "value": "chat-circle",
              "label": "Chat circle"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "device-mobile",
              "label": "Device mobile"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "envelope-simple",
              "label": "Envelope simple"
            },
            {
              "value": "face-mask",
              "label": "Face mask"
            },
            {
              "value": "fingerprint",
              "label": "Fingerprint"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "headset",
              "label": "Headset"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "list",
              "label": "List"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "squares-four",
              "label": "Squares four"
            },
            {
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            },
            {
              "value": "ticket",
              "label": "Ticket"
            },
            {
              "value": "timer",
              "label": "Timer"
            },
            {
              "value": "translate",
              "label": "Translate"
            },
            {
              "value": "trash",
              "label": "Trash"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "value": "user",
              "label": "User"
            },
            {
              "value": "users",
              "label": "Users"
            },
            {
              "value": "van",
              "label": "Van"
            },
            {
              "value": "virus",
              "label": "Virus"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "warning",
              "label": "Warning"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "48 x 48px .png recommended"
        }
      ]
    },
    {
      "type": "payment_icons",
      "name": "Payment icons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customize the payment icons in the global Payment icons setting. [Learn more](https://www.zalify.com/theme/help/customize-payments-icons)"
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "label": "Alignment",
          "default": "center"
        }
      ]
    },
    {
      "type": "payment_terms",
      "name": "Payment installments",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display payment installments, your store needs to support Shop Pay Installments. [Learn more](https://help.shopify.com/en/manual/payments/shop-pay-installments)"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Allow your customers to see availability in retail stores by [setting up local pickup](https://help.shopify.com/en/manual/sell-in-person/shopify-pos/order-management/local-pickup-for-online-orders)."
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_taxes_included",
          "label": "Show taxes included",
          "info": "You need to determine whether you should charge taxes, then register with your region's tax authority. [Learn more](https://help.shopify.com/en/manual/taxes/registration/setup)",
          "default": false
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "The selector is automatically hidden if all variants are sold out. When at least one variant is available, the selector is always visible to prevent the page from moving when switching variants."
        }
      ]
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://www.zalify.com/theme/help/third-party-app-ratings)"
        },
        {
          "type": "checkbox",
          "id": "show_empty",
          "label": "Show if no reviews",
          "default": false
        }
      ]
    },
    {
      "type": "scrolling_text",
      "name": "Scrolling text",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "cycle_speed",
          "min": 2,
          "max": 10,
          "step": 1,
          "unit": "s",
          "label": "Change message every",
          "default": 3
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1",
          "default": "FREE DELIVERY WORLDWIDE"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2",
          "default": "SATISFIED OR REFUNDED"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3",
          "default": "SECURE PAYMENTS"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "separator",
      "name": "Separator"
    },
    {
      "type": "share_buttons",
      "name": "Share buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To improve user experience and performance, native share buttons are used when supported."
        }
      ]
    },
    {
      "type": "shipping_estimator",
      "name": "Shipping estimator",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "shipping_estimator_default_country",
          "label": "Default country",
          "info": "If the customer is logged in, the country of their shipping address will be used.",
          "default": "United States"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Style",
          "info": "Or use custom CSS to adjust the font size. [Learn more](https://www.zalify.com/theme/help/adjust-product-title)",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "checkbox",
          "id": "show_variant_name",
          "label": "Show variant name",
          "default": false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Shopify only allows you to attach one image per variant. To attach different images per variants, and automatically hide the images that do not belong to the selected variant, our theme comes with a [built-in solution](https://www.zalify.com/theme/help/product-media-grouping) based on alt tag."
        },
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "select",
          "id": "selector_type",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "color_mode",
          "label": "Color selector type",
          "info": "Variant image mode requires that all variants have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "color",
              "label": "Swatch"
            },
            {
              "value": "variant_image",
              "label": "Variant image"
            }
          ],
          "default": "color"
        },
        {
          "type": "paragraph",
          "content": "By default, variant images and swatches are displayed under the \"Colors\" variant, you can specify other color attributes by [editing the default theme content](https://www.zalify.com/theme/help/product-variant-colors)."
        },
        {
          "type": "paragraph",
          "content": "If you are using some color names that are not standard, you will need to write hex code or create your own small images and upload them. [Learn more](https://www.zalify.com/theme/help/customize-variant-colors)."
        },
        {
          "type": "header",
          "content": "Size chart"
        },
        {
          "type": "select",
          "id": "size_chart_icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "compass-tool",
              "label": "Compass tool"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "t-shirt",
              "label": "T-shirt"
            }
          ],
          "default": "ruler"
        },
        {
          "type": "text",
          "id": "size_chart_title",
          "label": "Title"
        },
        {
          "type": "select",
          "id": "size_chart_source",
          "label": "Show size chart from",
          "options": [
            {
              "value": "page",
              "label": "Page"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "page"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Page",
          "info": "Feature a page for size option. [Learn more](https://www.zalify.com/theme/help/size-chart)"
        },
        {
          "type": "image_picker",
          "id": "size_chart_image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "info": "Zoom does not show video nor 3D models.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "adaptive_media_height",
      "label": "Adaptive media height",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "desktop_media_width",
      "label": "Desktop media size",
      "min": 45,
      "max": 65,
      "step": 5,
      "unit": "%",
      "default": 60
    },
    {
      "type": "select",
      "id": "desktop_media_layout",
      "label": "Desktop media layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel_thumbnails_left",
          "label": "Thumbnails left (carousel)"
        },
        {
          "value": "carousel_thumbnails_bottom",
          "label": "Thumbnails bottom (carousel)"
        }
      ],
      "default": "carousel_thumbnails_left"
    },
    {
      "type": "select",
      "id": "mobile_media_size",
      "label": "Mobile media size",
      "options": [
        {
          "value": "expanded",
          "label": "Expanded"
        },
        {
          "value": "contained",
          "label": "Contained"
        }
      ],
      "default": "expanded"
    },
    {
      "type": "select",
      "id": "mobile_carousel_control",
      "label": "Mobile carousel control",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "floating_dots",
          "label": "Floating dots"
        },
        {
          "value": "thumbnails",
          "label": "Thumbnails"
        }
      ],
      "default": "floating_dots"
    },
    {
      "type": "select",
      "id": "transition_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    }
  ]
}
{% endschema %}
